@model LoginViewModel

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="login image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-controller="Login" asp-action="Entrar" method="post">
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Login</p>
                    </div>

                    <!-- Login input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="formLogin" asp-for="Login" class="form-control form-control-lg" placeholder="Login" />
                        @*<label class="form-label" for="formLogin">Login</label>*@
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="formPassword" asp-for="Senha" class="form-control form-control-lg" placeholder="Senha" />
                        @*<label class="form-label" for="formPassword">Password</label>*@
                    </div>

                    @*<div class="d-flex justify-content-between align-items-center">
                        <a href="#!" class="text-body">Esqueceu a Senha?</a>
                        <a class="text-body" asp-action="RedefinirSenha" asp-controller="Login">Redefinir minha senha</a>
                    </div>*@

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Entrar
                        </button>
                        @*<button type="submit" class="btn btn-primary btn-block">Entrar</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>